
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">通用权限系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            @Html.Action("TopMenu", "SysMenu")
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        @ViewBag.UserName
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="#" id="signoff">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div id="LeftMenu" class="layui-side-scroll">
                @Html.Action("LeftMenu", "SysMenu")
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class="layui-row">
                    <div class="layui-col-xs12" id="NavMenu">
                        <span class="layui-breadcrumb">
                            <a href="#">首页</a>
                            <a href="#" id="pname"></a>
                            <a href="#"><cite id="name"></cite></a>
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © XXX 有限公司
        </div>
    </div>
    <script src="~/Scripts/layui-v2.4.5/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['layer', 'form', 'element'], function () {
            var layer = layui.layer
                , form = layui.form
                , element = layui.element
                , $ = layui.$ //重点处
            //全局的ajax访问，处理ajax清求时sesion超时
            $.ajaxSetup({
                contentType: "application/x-www-form-urlencoded;charset=utf-8",
                complete: function (XMLHttpRequest, textStatus) {
                    //通过XMLHttpRequest取得响应头，sessionstatus，
                    var sessionstatus = XMLHttpRequest.getResponseHeader("sessionstatus");
                    if (sessionstatus == "timeout") {
                        //如果超时就处理 ，指定要跳转的页面
                        window.location = "/Login/Index";
                    }
                }
            });
            //导航竖线隐藏;
            $(".layui-breadcrumb span").hide();

            //请求html
            function GetHtml(url, id, callback) {
                $.ajax({
                    url: encodeURI(url),
                    type: "Get",
                    dataType: "Html",
                    success: function (data) {
                        $("#" + id).html(data);
                        element.render();//重新渲染
                        callback();
                    }
                })
            }

            //顶部菜单点击
            $(".topurl").click(function () {
                var urlid = $(this).attr("urlid");
                GetHtml("/SysMenu/LeftMenu?ParentId=" + urlid, "LeftMenu", function () {
                    $(".leftmenu").click(function () {
                        nav(this);
                    })
                });
                var pname = $(this).text();
                $("#pname").text(pname);
                $("#pname").nextAll().hide();
            })

            //左侧菜单点击
            $(".leftmenu").click(function () {
                nav(this);
            })

            //导航隐藏于显示
            function nav(obj) {
                $(".layui-breadcrumb span").show();
                var pname = $(obj).attr("pname");
                var name = $(obj).text();
                $("#pname").text(pname);
                $("#name").text(name);
                $("#pname").nextAll().show();
            }

            $("#signoff").click(function () {
                $.post("/Home/SignOff", function (data) {
                    if (data.Code = "200") {
                        location.href = "/Login/Index";
                    } else {
                        layer.alert(data.Msg, {
                            title: '提示信息'
                        })
                    }
                })
            })

        });

    </script>
</body>
