@model Model.Student

@{
    ViewBag.Title = "学生管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <link href="~/bootstrapTable/css/bootstrap-table.css" rel="stylesheet" />
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .mt {
            margin-top: 10px;
        }

        .ml {
            margin-left: 10px;
        }
    </style>
}


<div class="container-fluid">
    <div class="row mt">

        <div class="form-group">

            <label class="col-xs-2 control-label text-right">姓名：</label>
            <div class="col-xs-2">
                <input type="text" id="Name" class="form-control" value="" />
            </div>

            <div class="col-xs-8">
                <a href="#" class=" btn btn-info" onclick="query();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;查询</a>
            </div>


        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12 mt ml">
            <a class="btn btn-primary" href="#" onclick="create();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>创建</a>
            <a class="btn btn-warning" href="#" onclick="edt();"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改</a>
            <a class="btn btn-danger" href="#" onclick="del();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除</a>
            <a class="btn btn-info" href="#" onclick="detail();"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>详细</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mt">

            <table id="table-javascript"></table>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/bootstrapTable/js/bootstrap-table.min.js"></script>
    <script src="~/bootstrapTable/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/layer/layer.js"></script>
    <script>
        var $table;
        $(function () {
            initTable();
        })

        function initTable() {


            $table = $('#table-javascript').bootstrapTable({

                method: 'get',
                contentType: "application/x-www-form-urlencoded",//必须的

                url: "/Student/GetList",

                height: $(window).height() - 78,

                striped: true,

                pagination: true,

                singleSelect: false,

                pageSize: 50,

                pageList: [10, 50, 100, 200, 500],

                search: false, //不显示 搜索框

                showColumns: false, //不显示下拉框（选择显示的列）

                sidePagination: "server", //服务端请求

                queryParams: queryParams,

                minimunCountColumns: 2,

                uniqueId: "Id",

                columns: [{
                    checkbox: true
                }, {

                    field: 'Name',

                    title: '名称',

                    width: 100,

                    align: 'center',

                    valign: 'middle',

                    sortable: true

                    // formatter: nameFormatter

                }, {

                    field: 'Age',

                    title: '年龄',

                    width: 100,

                    align: 'center',

                    valign: 'middle',

                    sortable: true

                }, {

                    field: 'Sexs',

                    title: '性别',

                    width: 100,

                    align: 'center',

                    valign: 'middle',

                    sortable: true

                }, {

                    field: 'Chinese',

                    title: '语文',

                    width: 100,

                    align: 'center',

                    valign: 'middle',

                    sortable: true

                }, {

                    field: 'Math',

                    title: '数学',

                    width: 100,

                    align: 'center',

                    valign: 'middle',

                    sortable: true

                }, {

                    field: 'English',

                    title: '英语',

                    width: 100,

                    align: 'center',

                    valign: 'middle',

                    sortable: true

                }],

                onLoadSuccess: function (data) {
                    if (data.code=="-1") {
                        alert(data.msg);
                    }
                },
                onLoadError: function (data) {
                    alert("数据加载失败！" );
                }

            });

        }

        //传递的参数

        function queryParams(params) {

            return {

                rows: params.pageSize,

                page: params.pageNumber,

                Name: $("#Name").val()

            };

        }


        function query() {
            $table.bootstrapTable('refresh');
        }

        function create() {
            layer.open({
                type: 2,
                title: '新增学生',
                shadeClose: true,
                shade: 0.8,
                area: ['90%', '90%'],
                content: '/Student/Create' //iframe的url
            });
        }

        function edt() {
           
            var row = $table.bootstrapTable('getSelections');
            if (row.length == 1) {
           
                layer.open({
                    type: 2,
                    title: '修改学生',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['90%', '90%'],
                    content: '/Student/Edit/' + row[0].Id //iframe的url
                });
            } else {
                layer.msg("请选择一行!", { icon: 2 });
            }
        }


        function del() {
            var row = $table.bootstrapTable('getSelections');
            if (row.length > 0) {
                layer.confirm('你确定要删除吗？', { btn: ['确定', '取消'] }, function () {

                    var arr = [];
                    for (var i = 0; i < row.length; i++) {
                        arr.push(row[i].Id);
                    }

                    $.ajax({
                        type: "post",
                        url: "/Student/Delete?ids=" + arr.join(','),
                        dataType: "json",
                        success: function (data) {
                            if (data.code == "1") {
                                layer.msg(data.msg, { icon: 6 });
                                $table.bootstrapTable('refresh');
                            } else {
                                layer.msg(data.msg, { icon: 2 });
                            }
                        }
                    })
                })
            } else {
                layer.msg("请选择一行!", { icon: 2 });
            }
        }


        function detail() {
            var row = $table.bootstrapTable('getSelections');
            if (row.length == 1) {
                layer.open({
                    type: 2,
                    title: '学生详情',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['90%', '90%'],
                    content: '/Student/Details/' + +row[0].Id //iframe的url
                });
            } else {
                layer.msg("请选择一行!", { icon: 2 });
            }
        }
    </script>
}