<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <alias alias="" type="" />
    <namespace name="IBLL" />
    <namespace name="BLL" />

    <assembly name="IBLL" />
    <assembly name="BLL" />
    <container>
      <register type="ISysMenuService" mapTo="SysMenuService" />
    </container>
  </unity>
</configuration>
